<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/navbar" %>

    <!-- main body begin -->
    <!-- Alerts -->

    <div class="row">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "text-center alert alert-#{message_type}") %></div>
    <% end %>
    </div>

    <!-- main container grid -->
    <div container-fluid>
      </div class="row">


      <%= yield %>
      
      </div>
      <div class="row">
        <div class='container center'><%= link_to image_tag("rails.svg", alt: "rails logo", width: "200"), "https://rubyonrails.org/" %></div>
        
      </div>
     <!-- footer begin --> 
      
      <%= render "layouts/footer" %>
      <div class="@mixin"> <%= debug(params) if Rails.env.development? %> </div>
    </div>  
  </body>
</html>